# Build Output
out/
build/
lib/
*.dll
*.exe
*.pdb
*.ilk
*.exp
*.lib

# Ignore bin except CET mod source
bin/*
!bin/x64/
bin/x64/*
!bin/x64/plugins/
bin/x64/plugins/*
!bin/x64/plugins/cyber_engine_tweaks/

# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.ipch

# CMake
CMakeSettings.json

# Logs
*.log
.coordination/
